/* 
Light Lime: #abd699

Fresh Lemon: #ffe26a

Teal: #75c9b7

Mint: #c7ddcc

Navy: #16123f 
*/

html {
    background: rgb(117, 201, 183);
    background-image: linear-gradient(-30deg, rgba(117, 201, 183, 1) 0%, rgba(152, 207, 164, 1) 100%, rgba(255, 226, 106, 1) 100%);
    background-repeat: no-repeat;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    line-height: 1.7em;
    color: #16123f;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #16123f;
}

.home-menu {
    padding: 0.5em;
    z-index: 100;
    border-bottom: 1px solid #16123f;
    font-size: large;
    text-decoration: none;
}

a.page-title {
    text-decoration: none;
    color: #16123f;
}

h2 {
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 5px;
    color: #16123f;
}


/* Flex box */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.flex-item {
    width: 47%;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    min-height: 300px;
    background-color: #c7ddcc;
    margin: 5px;
    padding: 10px;
}

.table-container table {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-container td,
.table-container th {
    font-weight: normal;
    border: 1px solid #16123f;
    padding: 8px;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-container tr:hover {
    background-color: #ddd;
}

.table-container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}